name: Integration
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Download Imagemagick
        run: |
          mkdir -p $HOME/.local/bin
          curl https://imagemagick.org/archive/binaries/magick > $HOME/.local/bin/magick
          chmod u+x $HOME/.local/bin/magick
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install node packages
        run: |
          cd $GITHUB_WORKSPACE
          npm install
      - name: Fetch assets
        run: |
          cd $GITHUB_WORKSPACE
          python3 tools/assets fetch
      - name: Build
        run: |
          cd $GITHUB_WORKSPACE
          python3 tools/build
      - uses: actions/upload-artifact@v2
        with:
          name: out
          path: ${{ github.workspace }}/out/**/*
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
      - name: Setup GCP
        uses: google-github-actions/setup-gcloud@v0
      - name: Deploy
        run: |-
          cd $GITHUB_WORKSPACE
          tools/deploy
      - name: Compute SHA256
        id: hash
        run: echo "hash=$(find $GITHUB_WORKSPACE/out/site -type f | xargs sha256sum | sort -k 2 | cut -d' ' -f1 | sha256sum | cut -d' ' -f1)" >> $GITHUB_OUTPUT
      - name: Rollout build
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: ${{ github.workspace }}/home-worker
          publish: false
          postCommands: |
            wrangler kv:key put --binding=TRAFFIC build $BUILD_SHA256
        env:
          BUILD_SHA256: ${{ steps.hash.outputs.hash }}
